
/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//


// cursor
ohm.cursor.mac.arrow.png                              10 ".\\art\\ohm.cursor.mac.arrow.png"
ohm.cursor.mac.arrow.popup.png                        10 ".\\art\\ohm.cursor.mac.arrow.popup.png"
ohm.cursor.mac.hand.pointing.png                      10 ".\\art\\ohm.cursor.mac.hand.pointing.png"
ohm.cursor.mac.ibeam.png                              10 ".\\art\\ohm.cursor.mac.ibeam.png"
ohm.cursor.mac.resize.vertical.png                    10 ".\\art\\ohm.cursor.mac.resize.vertical.png"
ohm.cursor.win.arrow.png                              10 ".\\art\\ohm.cursor.win.arrow.png"
ohm.cursor.win.arrow.popup.png                        10 ".\\art\\ohm.cursor.win.arrow.popup.png"
ohm.cursor.win.hand.pointing.png                      10 ".\\art\\ohm.cursor.win.hand.pointing.png"
ohm.cursor.win.ibeam.png                              10 ".\\art\\ohm.cursor.win.ibeam.png"
ohm.cursor.win.resize.vertical.png                    10 ".\\art\\ohm.cursor.win.resize.vertical.png"


// widget
ohm.widget.checkbox.base.png                          10 ".\\art\\ohm.widget.checkbox.base.png"
ohm.widget.checkbox.dot.png                           10 ".\\art\\ohm.widget.checkbox.dot.png"
ohm.widget.checkbox.mixed.png                         10 ".\\art\\ohm.widget.checkbox.mixed.png"
ohm.widget.checkbox.on.png                            10 ".\\art\\ohm.widget.checkbox.on.png"
ohm.widget.dialog.content.png                         10 ".\\art\\ohm.widget.dialog.content.png"
ohm.widget.dialog.footer.png                          10 ".\\art\\ohm.widget.dialog.footer.png"
ohm.widget.dialog.header.png                          10 ".\\art\\ohm.widget.dialog.header.png"
ohm.widget.discloser.disclose-1.png                   10 ".\\art\\ohm.widget.discloser.disclose-1.png"
ohm.widget.discloser.disclose-2.png                   10 ".\\art\\ohm.widget.discloser.disclose-2.png"
ohm.widget.discloser.disclose-3.png                   10 ".\\art\\ohm.widget.discloser.disclose-3.png"
ohm.widget.discloser.disclose-4.png                   10 ".\\art\\ohm.widget.discloser.disclose-4.png"
ohm.widget.discloser.disclose-5.png                   10 ".\\art\\ohm.widget.discloser.disclose-5.png"
ohm.widget.discloser.disclose-6.png                   10 ".\\art\\ohm.widget.discloser.disclose-6.png"
ohm.widget.disclosure.png                             10 ".\\art\\ohm.widget.disclosure.png"
ohm.widget.dropdown.arrow.png                         10 ".\\art\\ohm.widget.dropdown.arrow.png"
ohm.widget.dropdown.off.png                           10 ".\\art\\ohm.widget.dropdown.off.png"
ohm.widget.dropdown.on.png                            10 ".\\art\\ohm.widget.dropdown.on.png"
ohm.widget.dropdown.over.png                          10 ".\\art\\ohm.widget.dropdown.over.png"
ohm.widget.fader.handle.png                           10 ".\\art\\ohm.widget.fader.handle.png"
ohm.widget.fader.rail.hori.png                        10 ".\\art\\ohm.widget.fader.rail.hori.png"
ohm.widget.fader.rail.verti.png                       10 ".\\art\\ohm.widget.fader.rail.verti.png"
ohm.widget.list.item.back.png                         10 ".\\art\\ohm.widget.list.item.back.png"
ohm.widget.matrix_bool.off.png                        10 ".\\art\\ohm.widget.matrix_bool.off.png"
ohm.widget.matrix_bool.on.png                         10 ".\\art\\ohm.widget.matrix_bool.on.png"
ohm.widget.matrix_bool.over.png                       10 ".\\art\\ohm.widget.matrix_bool.over.png"
ohm.widget.menu.arrow.left.png                        10 ".\\art\\ohm.widget.menu.arrow.left.png"
ohm.widget.menu.arrow.right.png                       10 ".\\art\\ohm.widget.menu.arrow.right.png"
ohm.widget.menu.back.png                              10 ".\\art\\ohm.widget.menu.back.png"
ohm.widget.menu.item.back.png                         10 ".\\art\\ohm.widget.menu.item.back.png"
ohm.widget.menu.item.mark.multi.png                   10 ".\\art\\ohm.widget.menu.item.mark.multi.png"
ohm.widget.menu.item.mark.png                         10 ".\\art\\ohm.widget.menu.item.mark.png"
ohm.widget.menu.item.sub_arrow.png                    10 ".\\art\\ohm.widget.menu.item.sub_arrow.png"
ohm.widget.music.time.off.left.png                    10 ".\\art\\ohm.widget.music.time.off.left.png"
ohm.widget.music.time.off.middle.png                  10 ".\\art\\ohm.widget.music.time.off.middle.png"
ohm.widget.music.time.off.right.png                   10 ".\\art\\ohm.widget.music.time.off.right.png"
ohm.widget.music.time.off.separator.png               10 ".\\art\\ohm.widget.music.time.off.separator.png"
ohm.widget.music.time.on.left.png                     10 ".\\art\\ohm.widget.music.time.on.left.png"
ohm.widget.music.time.on.middle.png                   10 ".\\art\\ohm.widget.music.time.on.middle.png"
ohm.widget.music.time.on.right.png                    10 ".\\art\\ohm.widget.music.time.on.right.png"
ohm.widget.music.time.on.separator.png                10 ".\\art\\ohm.widget.music.time.on.separator.png"
ohm.widget.music.time.over.left.png                   10 ".\\art\\ohm.widget.music.time.over.left.png"
ohm.widget.music.time.over.middle.png                 10 ".\\art\\ohm.widget.music.time.over.middle.png"
ohm.widget.music.time.over.right.png                  10 ".\\art\\ohm.widget.music.time.over.right.png"
ohm.widget.music.time.over.separator.png              10 ".\\art\\ohm.widget.music.time.over.separator.png"
ohm.widget.progress.back.png                          10 ".\\art\\ohm.widget.progress.back.png"
ohm.widget.progress.front.end.png                     10 ".\\art\\ohm.widget.progress.front.end.png"
ohm.widget.progress.front.png                         10 ".\\art\\ohm.widget.progress.front.png"
ohm.widget.progress.indeterminate.png                 10 ".\\art\\ohm.widget.progress.indeterminate.png"
ohm.widget.pushbutton.help.off.png                    10 ".\\art\\ohm.widget.pushbutton.help.off.png"
ohm.widget.pushbutton.help.on.png                     10 ".\\art\\ohm.widget.pushbutton.help.on.png"
ohm.widget.pushbutton.help.over.png                   10 ".\\art\\ohm.widget.pushbutton.help.over.png"
ohm.widget.pushbutton.off.png                         10 ".\\art\\ohm.widget.pushbutton.off.png"
ohm.widget.pushbutton.on.png                          10 ".\\art\\ohm.widget.pushbutton.on.png"
ohm.widget.pushbutton.over.png                        10 ".\\art\\ohm.widget.pushbutton.over.png"
ohm.widget.pushbutton.small.off.png                   10 ".\\art\\ohm.widget.pushbutton.small.off.png"
ohm.widget.pushbutton.small.on.png                    10 ".\\art\\ohm.widget.pushbutton.small.on.png"
ohm.widget.pushbutton.small.over.png                  10 ".\\art\\ohm.widget.pushbutton.small.over.png"
ohm.widget.pushbutton.small.plus-sign.png             10 ".\\art\\ohm.widget.pushbutton.small.plus-sign.png"
ohm.widget.pushbutton.small.minus-sign.png            10 ".\\art\\ohm.widget.pushbutton.small.minus-sign.png"
ohm.widget.pushbutton.small.refresh-sign.png          10 ".\\art\\ohm.widget.pushbutton.small.refresh-sign.png"
ohm.widget.pushbutton.small.left-sign.png             10 ".\\art\\ohm.widget.pushbutton.small.left-sign.png"
ohm.widget.pushbutton.small.right-sign.png            10 ".\\art\\ohm.widget.pushbutton.small.right-sign.png"
ohm.widget.pushbutton.tiny.cancel.png                 10 ".\\art\\ohm.widget.pushbutton.tiny.cancel.png"
ohm.widget.pushbutton.tiny.off.png                    10 ".\\art\\ohm.widget.pushbutton.tiny.off.png"
ohm.widget.pushbutton.tiny.on.png                     10 ".\\art\\ohm.widget.pushbutton.tiny.on.png"
ohm.widget.pushbutton.tiny.over.png                   10 ".\\art\\ohm.widget.pushbutton.tiny.over.png"
ohm.widget.radio_button.off.png                       10 ".\\art\\ohm.widget.radio_button.off.png"
ohm.widget.radio_button.on.png                        10 ".\\art\\ohm.widget.radio_button.on.png"
ohm.widget.radio_button.over.png                      10 ".\\art\\ohm.widget.radio_button.over.png"
ohm.widget.scroll.shadow.bottom.png                   10 ".\\art\\ohm.widget.scroll.shadow.bottom.png"
ohm.widget.scroll.shadow.left.png                     10 ".\\art\\ohm.widget.scroll.shadow.left.png"
ohm.widget.scroll.shadow.radial.bottom.png            10 ".\\art\\ohm.widget.scroll.shadow.radial.bottom.png"
ohm.widget.scroll.shadow.radial.left.png              10 ".\\art\\ohm.widget.scroll.shadow.radial.left.png"
ohm.widget.scroll.shadow.radial.right.png             10 ".\\art\\ohm.widget.scroll.shadow.radial.right.png"
ohm.widget.scroll.shadow.radial.top.png               10 ".\\art\\ohm.widget.scroll.shadow.radial.top.png"
ohm.widget.scroll.shadow.right.png                    10 ".\\art\\ohm.widget.scroll.shadow.right.png"
ohm.widget.scroll.shadow.top.png                      10 ".\\art\\ohm.widget.scroll.shadow.top.png"
ohm.widget.scrollbar.front.png                        10 ".\\art\\ohm.widget.scrollbar.front.png"
ohm.widget.scrollbar.back.png                         10 ".\\art\\ohm.widget.scrollbar.back.png"
ohm.widget.searchfield.base.png                       10 ".\\art\\ohm.widget.searchfield.base.png"
ohm.widget.section.content.png                        10 ".\\art\\ohm.widget.section.content.png"
ohm.widget.section.footer.png                         10 ".\\art\\ohm.widget.section.footer.png"
ohm.widget.section.header.png                         10 ".\\art\\ohm.widget.section.header.png"
ohm.widget.spin.png                                   10 ".\\art\\ohm.widget.spin.png"
ohm.widget.sticker.mask.png                           10 ".\\art\\ohm.widget.sticker.mask.png"
ohm.widget.textfield.base.png                         10 ".\\art\\ohm.widget.textfield.base.png"
ohm.widget.textfield.outline.png                      10 ".\\art\\ohm.widget.textfield.outline.png"
ohm.widget.tip.down.png                               10 ".\\art\\ohm.widget.tip.down.png"
ohm.widget.tip.up.png                                 10 ".\\art\\ohm.widget.tip.up.png"
ohm.widget.tip.left.png                               10 ".\\art\\ohm.widget.tip.left.png"
ohm.widget.tip.right.png                              10 ".\\art\\ohm.widget.tip.right.png"
ohm.widget.tooltip.png                                10 ".\\art\\ohm.widget.tooltip.png"

