<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IrrFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libIrrlicht.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09022C520EA0E97F00CD54EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0946CCA30EC99BBE00D945A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F648F40D2CDED9001E0599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F6492F0D2CE03E001E0599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F649560D2CE206001E0599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E2E3CEB1103E294002DE8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E2E3D2C1103E3F4002DE8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>959726FC12C18FFB00BF73D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFDFE097FD9F50057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFE82097FDDE20057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFEA4097FDE900057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFEC2097FDF020057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFEE8097FE05F0057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFF07097FE13E0057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFF1E097FE1E00057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFF33097FE25F0057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFF4A097FE3050057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFF78097FE3DC0057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFF91097FE45E0057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFFAF097FE5F80057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81CFFC6097FE9980057C06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8DEF35C0950229200FDEA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
